*.aux
*.bak
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
.vscode/settings.json
.kile/livro.kilepr.gui
livro.kilepr
livro.synctex(busy)
partes/algebra/.hidden
partes/conjuntos/.hidden
partes/geometria/.hidden
partes/dinamica/.hidden
.hidden
livro.txss2
